body {
    background-color: #EEEAD6;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background-color: #379082;
    box-shadow: 10px;
}
.title {
    font-weight: bold;
}

.btn {
    font-family: 'Poppins',sans-serif;
    border-radius: 20px;
    background-color: #379082;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card {
    background-color: #EBEBEB;
}

.btn:hover {
    background-color: #EEEAD6;
    color: rgb(0, 0, 0);
    transform: scale(1.0);
}

.container{
    font-family: 'Poppins', sans-serif;
}





